/* Navbar Styles */

#navbar_container {
    padding: 0px;
    margin: 0px;
}

.navbar-brand {
    padding: 0px;
    padding-left: 15px;
}

#title {
    margin: 0px;
}

.navbar .navbar-collapse {
	background-color: #FFFFFF;
}

#nav-list a {
    text-align: center;
}

.navbar .navbar-nav li a:hover {
	color: #FFFFFF;
	background: #F5F5F5;
}

.navbar-nav li a {
    font-size: 20px;
}

/*Page Styles*/

/*#wrapper {
    background-color: #F5F5F5;
    height: 1000px;
}*/

#section-1 {
    padding-top: 15px;
    padding-bottom: 15px;
}

#section-2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

#section-3 {
    padding-top: 15px;
}

.text {
    background-color: #F5F5F5;
    padding: 10px;
    border: 1px solid black;
}

p {
    height: 150px;
    font-family: Helvetica;
    color: black;
    font-size: 100%;
}